<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
      <ul class="nav nav-list">
        <%- @pages.each do |page| %>
          <li>
            <a href="#"><%= page.title %></a>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid well">
      <%= link_to 'Create Page', stiki.new_space_page_path(@space) %>  
    </div>
  </div>
</div>