<div class="row-fluid">
    <div class="row-fluid">
        <div class="span8">
          <h1>Heading</h1>
        </div>
        <div class="span4">
          <ul class="breadcrumb">
            <li>
            <a href="/universe">Universe</a>
            <span class="divider">/</span>
            </li>
            <li>
            <a href="/universe/stories">Stories</a>
            <span class="divider">/</span>
            </li>
            <li class="active">
            Bank of the Galaxy
            </li>
          </ul>
        </div>
    </div>
</div>
<div class="row-fluid well">
    <div class="row-fluid">
      <div class="span9">Content</div>
      <div class="span3">Sidebar</div>
    </div>
</div>
<div class="row-fluid well">
  <div class="row-fluid">
    <div class="span12">
      List?
    </div>
  </div>
</div>